{% extends "console_page.html" %}
{% load vite_tags %}

{% block head_extras %}
  {{ block.super }}
  <style>
    {% include "partials/_immersive_overlay_styles.html" %}
  </style>
{% endblock %}

{% block console_content %}
{% include "partials/_pending_agent_transfers.html" %}
{% include "partials/_pending_collaborator_invites.html" %}
<div id="operario-frontend-root"
     class="{% if pending_agent_transfer_invites or pending_collaborator_invites %}mt-6 {% endif %}space-y-6 pb-6"
     data-app="persistent-agents"
     data-props-json-id="persistent-agents-props">
</div>
{{ agent_list_props|json_script:"persistent-agents-props" }}
{% include "partials/_immersive_overlay.html" %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  {% vite_asset 'src/main.tsx' %}
  {% include "partials/_immersive_overlay_script.html" %}
{% endblock %}
